/* * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.box {
  display: flex;
  flex-direction: column;
  background-color: red;
} */
.box {
  display: flex;
  flex-direction: row;
  display: inline-block;

  margin: 50px;
}

.img {
  height: 200px;
  width: 200px;
}
.text {
  text-align: center;
}
